header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
}

.brand a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style-type: none;
  margin-left: 3rem;
}

li > a{
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}


li::after {
  content: '';
  width: 0rem;
  height: 0.15rem;
  background-color: #fff;
  display: block;
  border-radius: 0.2rem;
  margin: 0.2rem auto 0 auto;
  transition: all 0.3s ease-in-out;
}

li:hover::after {
  width: 2rem;
}

#about{
  background-color: rgb(228, 220, 220);
  padding: 50px;
}
.img2 {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#services p{
  text-align: center;
}

#services {
background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
text-align: center;
}
#card {
padding: 20px;
}
#card li{
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  padding: 25px;
  text-decoration: none;
  color: black;
  border:2px solid rgb(146, 234, 146);
}

#con {
  text-align: center;
  padding: 20px;
}
#con ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
}

#con ul li{
  display: inline-block;
  margin-left: 20px;
}

#con ul li a {
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem 5rem;
  background: linear-gradient(180deg, #6fb4fd 0%, #5caafc 100%);
}